    NODE_ENV=development
    NEXT_PUBLIC_API_URL=http://localhost:1126/api/v1
    NEXT_PUBLIC_APP_URL=https://finvia-finance-management.vercel.app
    NEXT_PUBLIC_GA_MEASUREMENT_ID=G-**********
    
    Required for middleware token verification and role-based redirects
    JWT_ACCESS_SECRET=your_access_token_secret
